.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    background: rgba(9, 0, 105, 0.822);
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.625);
    
}

.SL{
    align-items: center;
    cursor: pointer;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.logo img {
    width: 80px;
    height: auto;
    align-items: center;
    margin-bottom: 10%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6px;
}

.Sri{
    font-size: 15px;
    font-family: Cambria;
    margin: 0;
    color: #fff;
}

.Auth{
    font-size: 20px;
    font-family: Georgia;
    margin: 0;
    color: #71C8FF;
}

.Lan{
    font-size: 8px;
    font-family: Averia Serif Libre;
    color: #fff;
    margin: 0;
}

.hr{
    margin-top: 30px;
    width: 75%;
    border-radius: 50px;
}

.menu1{
    font-family: Roboto Slab;
    list-style: none;
    font-size: 15px;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    margin-right: 50px;
    color: #fff;
}

.menu1 li {
    padding: 10px 0;
    line-height: 30px;
    text-decoration: none;
}

.menu2{
    font-family: Roboto Slab;
    list-style: none;
    font-size: 15px;
    margin-top: 18%;
    text-align: center;
    text-decoration: none;
    margin-right: 50px;
    color: #fff;
}

.menu2 li {
    padding: 10px 0;
    line-height: 30px;
    text-decoration: none;
}

.Sidup{
    text-decoration: none;
    color: #fff;
}

.Sidup :hover{
    text-decoration: none;
    color: #00aaff;
}

.hr2{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 50px;
}

.Log1 {
    text-align: center;
    padding: 10px;
    background-color: #009dff;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 14px;
}

.Log2 {
    text-align: center;
    padding: 10px;
    background-color: #009dff;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    font-size: 14px;
}

.login{
    vertical-align: middle;
    padding-right: 10px;
    align-items: center;
}

.logout {
    vertical-align: middle;
    padding-right: 8px;
    align-items: center;
}

.Log1:hover {
    background-color: #1aae00;
    transform: scale(1.04);
}

.Log2:hover {
    background-color: #fe2c2c;
    transform: scale(1.04);
}

.BMenu {
    padding: 10px;
    background-color: #009dff;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 14px;
}

.BMenu:hover {
    background-color: #fff530;
    color: black;
    transform: scale(1.04);
}